a.audio {
  display: block;
  width: 100%;
  height: 26px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

a.video {
  display: block;
  width: 100%;
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor:pointer;
}

a.rtmp {
  display: block;
  width: 100%;
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor:pointer;
}

